{
  "jsc": {
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "decorators": false,
      "dynamicImport": true,
      "tsx": true
    },
    "transform": {
      "react": {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": true,
        "development": false,
        "useBuiltins": false
      },
      "hidden": {
        "jest": true
      }
    },
    "minify": {
      "compress": true
    }
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "sourceMaps": true,
  "minify": true
}